<<<<<<< HEAD
*{
  margin:0;
  padding:0;
}
=======
>>>>>>> 38c26b197fc457bd05874c97d043b5db832666ae
.nav_container{
  width: 100%;
  min-width: 80%;
  display: flex;
  display: grid;
<<<<<<< HEAD
  grid-template-columns: 20% 30% 40% 10%;
=======
  grid-template-columns: 20% 30% 50%;
>>>>>>> 38c26b197fc457bd05874c97d043b5db832666ae
  justify-content: space-between;
  vertical-align:middle;
  position: fixed;
  top: 0;
}
.icon{
  margin-right: 1vh;
}
h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 7vh;
  font-style: oblique;
}
<<<<<<< HEAD
/* Default light theme */
body.light-mode {
  background-color: #ffffff;
  color: #000;
}


body.dark-mode {
  background-color: #1e1e1e;
  color: #f0f0f0;
}
body.dark-mode footer{
  color:black;
}
body.dark-mode a{
  color:black;
}


/*styling the main*/
=======
>>>>>>> 38c26b197fc457bd05874c97d043b5db832666ae
main{
  min-height: 100vh;
  width: 100%;
}
.footer{
  min-height: 40vh;
  width: 100%;
}